body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: url('Sigmund-Freud-Wallpaper-Full-HD.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* White overlay with 80% opacity */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
}

#add-entry-button,
#export-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.entry input,
.entry textarea,
.entry button {
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
}

input[type="date"] {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

input[type="date"]::before {
    content: attr(placeholder);
    color: #999;
    display: block;
}

textarea {
    height: 100px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.mic-button,
.stop-button {
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}

/* Media Queries */
@media (min-width: 600px) {
    .entry {
        flex-direction: row;
        align-items: center;
    }

    .entry textarea {
        width: calc(100% - 120px);
        margin-left: 10px;
    }

    .mic-button,
    .stop-button {
        margin-left: 10px;
    }
}
